.flex-conteiner{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;    
}

.flex-item{
    height: 100px;
    width: 100px;
    background-color: #008b8b;
    margin: 10px;
    display: flex;
    align-self: center;    
}

.rojo{
    background-color: red;
    

}